@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

* {
  font-family: "Droid Sans";
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

/* Role Colors */
.TANK {
  background-color: rgba(52, 67, 150, 0.75);
}
.HEALER {
  background-color: rgba(57, 101, 39, 0.75);
}
.DPS {
  background-color: rgba(101, 50, 50, 0.75);
}
.Pet {
  background-color: rgba(150, 147, 52, 0.75);
}
.UNKNOWN {
  background-color: rgba(211, 211, 211, 0.75);
}

th {
  text-align: center;
}
td {
  text-align: right;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.blue {
  color: #e2ebf5;
  text-shadow: -1px 0 3px #217aa2, 0 1px 3px #217aa2, 1px 0 3px #217aa2,
    0 -1px 3px #217aa2;
}

.gold {
  color: #ded7be;
  text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516,
    0 -1px 2px #795516;
}

.resize-handle {
  background-image: url(handle.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#aggrolist .hide {
  display: none;
}

#aggrolist .outer {
  height: 100%;
  padding: 10px;
}

#aggrolist .inner {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  padding: 10px;
}

#aggrolist .inner .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(5px);
  z-index: -1;
}

#toggle-collapse {
  cursor: pointer;
  float: right;
}

#combatants {
  width: 100%;
  border-collapse: collapse;
}

#encounter,
#combatants th {
  white-space: nowrap;
}

#combatants td {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ex;
  width: 20ex;
  padding: 0px;
}

#combatants thead {
  border-bottom: 1px solid #ded7be;
}

#combatants td.hp {
  white-space: nowrap;
  min-width: 55px;
  width: 55px;
}

#combatants td.hate {
  white-space: nowrap;
  min-width: 55px;
  width: 55px;
}

#combatants td.target {
  min-width: 50px;
  width: 50px;
}

#combatants td div.hate {
  width: 100%;
  margin: 1px 0px 1px 0px;
  padding: 1px 4px 1px 1px;
}

#combatants td div.target {
  width: 100%;
  margin: 1px 0px 1px 0px;
  padding: 1px 1px 1px 1px;
}

.YOU {
  background-color: rgba(251, 216, 251, 0.75);
}
.green {
  background-color: rgba(139, 195, 74, 0.75);
}
.yellow {
  background-color: rgba(201, 204, 36, 0.75);
}
.orange {
  background-color: rgba(239, 151, 43, 0.75);
}
.red {
  background-color: rgba(244, 67, 54, 0.75);
}

#combatants tr.current {
  border-color: #e2ebf5;
  border: 1px dotted;
}

#combatants td div.content {
  position: relative;
  margin-bottom: 3px;
  height: 1.2em;
  clear: both;
}

#combatants td div.box {
  position: relative;
  margin-left: 5px;
}

.status-icon {
  display: inline-block;
  width: 24px;
  position: relative;
}

.status-icon img {
  width: 24px;
  height: 32px;
}

.status-icon img.small-1 {
  width: 21px;
  height: 28px;
}

.status-icon img.small-2 {
  width: 18px;
  height: 24px;
}

.status-icon span {
  text-align: right;
  position: absolute;
  bottom: -4px;
  right: 0px;
  font-size: 12px;
}

.status-icon span.isOwner-true {
  color: rgb(70, 255, 70);
  text-shadow: -1px 0 3px #001b00, 0 1px 3px #001b00, 1px 0 3px #001b00,
    0 -1px 3px #001b00;
}
